$color-black: #000000;
$color-white: #ffffff;
$color-gray: #9f9f9f;
$color-light: #ebebeb;
$color-green: #a1c2bb;
$color-light-yellow: #fdfadb;
$color-yellow: #ffc532;
$color-red: #ff5858;
$color-blue: #00c2ff;
$color-main-bg-light: #F5F6FA;
